/**
 * Formulaires et étapes de formulaires
 */

/**
  * ------------------
  * TABLE DES MATIÈRES
  * ------------------
  *  FORMULAIRE AVEC JAVASCRIPT ACTIVÉ
  *   - zone étapes
  *   - zone de formulaires cachée
  *
  *  FORMULAIRE
  *  .formulaire
  *   - entete
  *   - fieldset
  *      - infosSup
  *      - conteneurFieldset
  *      - zoneBtnRadios
  *   - elementForm
  *   - Correctifs pour les boutons de navigation de form
 */

/**
 * Les régles CSS qui sont sous .js sont lues seulement lorsque le javascript est activé sur la page
 * Sinon, les règles de bases sont lues
 */
.js{
  /**
   * Zone étapes
   */
  .formulaire{
    &__entete .etapes{
      display: flex;

      @media(min-width: 800px){
        display: flex;
      }
    }

    .elementForm .checkBoxMontrerMDP {
      display: block;
    }
  }

  /**
   * Zone cachée
   */
  #btnZone1Suivant, #btnZone2Suivant, #btnZone2Precedent, #btnZone3Precedente{
    display: inline-block;
  }

  #conteneurBoutonsZone3{
    justify-content: space-between;
  }
}

.formulaire{
  /**
   * Étapes en haut
   * Est en display none pour lorsque le Javascript est désactivé
   */
  &__entete{
    h1{
      text-align: center;
      margin-top: 0;
    }

    .etapes{
      display: none;
      flex-direction: column;
      padding: 0;
      margin: 0 auto 2% auto;
      list-style-type: none;

      @media(min-width: 800px){
        max-width: 815px;
        flex-direction: row;
      }

      .elementEtapes {
        width: 160px;
        height: 42px;
        margin: 2% auto 0 auto;
        text-align: center;
        background-color: $gris-pale;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include fontSize(20px);
        transition: 0.15s ease-in-out;

        @media(min-width: 800px){
          width: 260px;
          height: 64px;
          @include fontSize(30px);
        }

        &__courant{
          background-color: $rouge;
          font-family: $policeTitres;
        }

        &__complete{
          color: white;
          background-color: $gris;
        }
      }
    }
  }

  fieldset{
    border: 4px solid $gris;
    margin-bottom: 2%;

    legend{
      font-family: $policeTitres;
      padding: 0 2% 0 2%;
      @include fontSize(24px);
      @include textShadow();

      @media(min-width: $tablettePortrait){
        @include fontSize(30px);
      }
    }

    .infoSupp{
      display: block;
      width: 85%;
      margin: 0 auto;
    }

    .conteneurFieldset{
      width: 92%;
      margin: 0 auto;

      @media(min-width: $tablettePortrait){
        width: 85%;
      }
    }

    /**
     * Zone des boutons radios (Genre de l'utilisateur + genre recherché
     */
    .zoneBtnRadios{
      display: flex;
      flex-direction: column;

      @media(min-width: $tablettePortrait){
        flex-direction: row;
        justify-content: space-between;
      }

      .radioBtn{
        display: flex;
        align-items: center;
        margin-bottom: 5%;

        @media(min-width: $tablettePortrait){
          margin-top: 2%;
          margin-bottom: 2%;
          width: 27.5%;

          &:nth-of-type(3n){
            width: 45%;
          }
        }

        input{
          opacity: 0;
        }

        /**
         * Puisque l'icône est dans le label, on doit mettre le label en display flex
         */
        label{
          width: 100%;
          display: flex;
          align-items: center;

          .icone{
            display: inline-block;
            background-image: url("../assets/images/icones/sprites-icones.svg");
            background-size: 200px;
            background-repeat: no-repeat;
            min-width: 50px;
            min-height: 50px;
            top: 0;
            left: 0;
            margin-right: 2%;

            &--femme{
              background-position: 0 0;
            }

            &--homme{
              background-position: -50px 0;
            }

            &--autre{
              background-position: -100px 0;
            }
          }
        }

        /**
         * Zone cachée
         */
        input:focus + label{
          //Styles de focus de chrome
          outline-color: rgb(77, 144, 254); // #4D90FE
          outline-offset: -2px;
          outline-style: auto;
          outline-width: 5px;
        }

        /**
         * Lorsque le input est coché, on change les images de background des icônes respectifs
         */
        input:checked + label .icone{
          &--femme{
            background-position: 0 -50px;
          }

          &--homme{
            background-position: -50px -50px;
          }

          &--autre{
            background-position: -100px -50px;
          }
        }
      }
    }//Fin zontBtnRadios

    .zoneDateNaissance{
      display: flex;
      flex-direction: column;

      @media(min-width: $tablettePortrait){
        flex-direction: row;

        .elementForm{
          margin-right: 5%;
        }
      }
    }

    /**
     * Éléments de formulaires
     */
    .elementForm{
      display: flex;
      flex-direction: column;
      position: relative;

      .conteneurInput{
        display: flex;
      }

      .input, .select{
        border: 3px solid black;
        padding-left: 3px;

        &--petit{
          width: 75px;
        }

        &--moyen{
          width: 190px;
        }

        &--grand{
          width: 240px;

          @media(min-width: $tablettePortrait){
            width: 350px;
          }
        }
      }

      select{
        width: 250px;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background-image: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%);
        background-position: calc(100% - 25px) calc(1em + 5px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-position-y: 10px;
        background-size: 10px 10px, 10px 10px, 5px 2.5em;
        background-repeat: no-repeat;

        @media(min-width: $tablettePortrait){
          width: 360px;
        }
      }

      .checkBoxMontrerMDP{
        display: none;
        background-image: url("../assets/images/icones/sprites-icones.svg");
        background-size: 100px;
        background-position: -25px -50px;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 45px;
        left: 215px;

        @media(min-width: $tablettePortrait){
          left: 325px
        }
      }

      #montrerMDP:checked + label{
        background-position: 0 -50px;
      }
    }
  }

  /**
   * Correctifs des zones de consentement
   */
  .termesUtilisation{
    .infoSupp{
      margin-bottom: 0;
    }

    .checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input{
        margin-right: 8px;
      }
    }
  }

  /**
   * Correctifs des zones de formulaires pour des styles spécifiques à certaines zones formulaires
   */
  .zoneForm{
    padding: 0 2% 0 2%;

    &1, &2, &3{
      margin-bottom: 3%;

      .conteneurBoutons{
        display: flex;
        justify-content: flex-end;

        input[type="button"]{
          display: none;
        }

        #btnSoumetre{
          display: block;
        }
      }
    }

    &2{
      .conteneurBoutons{
        justify-content: space-between;
      }
    }
  }

}



