/**
 * @author Samuel Loranger <samuelloranger@gmail.com>
 */
.conteneur-fluid{
  width: 100%;
}

.conteneur{
  max-width: $desktop;
  margin: 0 auto;
}

.validation{
  &--erreur{
    color: $rouge;
    width: 85%;
    margin: 0 auto;
    font-size: 18px;
  }

  &Container--erreur{
    border: 3px solid $rouge;
  }
}

noscript{
  p{
    width: 100%;
    background-color: $rouge;
    text-align: center;
    color: white;
    font-family: $policeTitres;
    @include fontSize(20px);
    margin: 0;
  }
}

.bouton {
  width: 160px;
  height: 42px;
  text-align: center;
  border: 3px solid $rouge;
  color: $rouge;
  @include fontSize(16px);
  @include boxShadow();
  font-family: $policeTitres;

  @media(min-width: 800px){
    width: 230px;
    height: 55px;
    @include fontSize(25px);
  }

  &Suivant{
    border: 3px solid transparent;
    color: black;
    background-color: $rouge;
  }
}