/**
 * @author Samuel Loranger <samuelloranger@gmail.com>
 */
header{
  display: flex;
  flex-direction: column;
  padding: 2%;

  @media(min-width: $tablettePortrait){
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .conteneurLogo{
    width: 100%;

    @media(min-width: $tablettePortrait){
      padding: 2%;
      width: 70%;
    }

    .logo{
      font-size: 65px;
      line-height: 0.8;
      color: transparent;
      margin: 0;
      text-align: center;
      @include animationBackgroundColor();
      -webkit-background-clip: text;
      @include filterShadow();

      @media(min-width: $tablettePortrait){
        text-align: left;
      }

      @media(min-width: 800px){
        font-size: 80px;
      }

      .coeur{
        font-family: $policeCoeur;
      }
    }

    h2{
       margin: 0;
       text-align: center;

       @media(min-width: $tablettePortrait){
         text-align: left;
       }
     }
  }

  p{
    text-align: right;
    padding-right: 2%;
    width: 100%;
    font-family: $policeTitres;
    @include fontSize(20px);

    @media(min-width: $tablettePortrait){
      width: 30%;
      @include fontSize(30px);
    }
  }
}

@keyframes logo-background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}