/**
 * @author Samuel Loranger <samuelloranger@gmail.com>
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * Polices de caractères
 * Palette de couleurs
 * Points de rupture
 **/

/** Polices de caractères **/
@import url('https://fonts.googleapis.com/css?family=Kanit:400,700,900&display=swap');

@font-face {
  font-family: "Kanit-Bold"; src: url('../assets/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Kanit-Regular"; src: url('../assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

$policeTitres: "Kanit-Bold", Arial-Black, sans-serif;
$policeCorps: "Kanit-Regular", Arial, serif;

/** Palette de couleurs **/
// Au besoin utiliser http://chir.ag/projects/name-that-color pour nommer les couleurs

//Couleurs perso
$rouge: #EB3125;
$rouge-fonce: darken($rouge, 30%);
$erreur: #ED6500;
$gris: #707070;
$gris-pale: #E0E0E0;
$vert: #00C000;
$vert-fonce: #008A00;

//Couleurs de base
$noir: #000;
$blanc: #fff;


/** Points de rupture **/
/* tablet, landscape iPad, lo-res laptops ands desktops */
$tablettePortrait : 600px;

/* hi-res laptops and desktops */
$desktop : 1000px;